  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/bandnames">List</a>
    <a href="/profiles">Profiles</a>
    <a href="/bandnames/new">Submit</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google">
        <button type="submit">Login</button>
      </a>
    <% } %>
  </nav>
