
section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
}

div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 1.3rem;
}

section div:nth-child(even) {
  font-weight: bold;
}

h1 {
  margin-top: 5px;
}