form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  /* grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem)); */
  font-size: 2rem;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
}

form > button {
  /* grid-column: span 2; */
  width: 16rem;
  font-size: 2.2rem;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* grid-gap: 1.3rem; */
}
