form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
  grid-column: span 3;
  width: 20rem;
  margin: auto;
}

form > button {
  grid-column: span 2;
  width: 16rem;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea {
  width: 30rem;
  height: 15rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}