#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

a {
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

a:hover {
  background-color: #8dd7cf;
  color: black;
  border-radius: 5px;
}

.td {
  border: 0;
}

tr {
  border-bottom: 1px solid lightgray;
}

.star-rating {
  display: flex;
  justify-content: start;
  min-width: 188px;
}

.star-rating:not(:checked) > label:hover ~ label { color: #ddd;  }