table {
  font-size: 2rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
}

section div:nth-child(even) {
  font-weight: bold;
}

button {
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  padding: 0;
}

h1 {
  margin: 10px 10px 10px 10px;
}

