html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.075em;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  color: black;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 30px;
}

nav {
  font-size: 1.6rem;
  color: black;
  display: flex;
  justify-content: space-around;
}

body > nav {
  grid-area: nav;
  background-color: #8dd7cf;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

nav > a:hover {
  color: white;
  background-color: #424748;

}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Archivo', sans-serif;
  letter-spacing: 0em;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
}

table {
  font-size: 2rem;
  border: 2px solid black;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  
}

table td {
  padding: 10px;
  margin-right: 5px;
}

button {
  border-radius: 10px;
}

.star-rating > label:before { 
  margin: 0;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.star-rating > label { 
  color: #ddd; 
  float: right; 
}

.star-rating > label.checked {
  color: black;
}